.my-active-class {
  color: #0d6efd !important;
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}

.custom-cursor-class {
  cursor: pointer;
}

.custom-menu-class .dropdown-item:active {
  color: black;
  background-color: transparent;
}
