@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css');

.gradient {
  background: linear-gradient(to bottom right, #dbeafe, #ffffff, #dbeafe);
}

.homegradient {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.cursor-pointer {
  cursor: pointer;
}
